body{
    margin: 0px;
    background-color: rgb(206, 200, 228);
    font-family: 'Pathway Gothic One', sans-serif;
}
.topnav{
    margin-top: 5px;
    margin-right: 20px;
    overflow: hidden;
}
.topnav a{
    float: right;
    text-decoration: none;
    color: darkslategrey;
    text-align: center;
    padding: 14px 60px;
    background-color: rgb(229, 188, 220);
}
section{
    margin: 40px 60px;
    height: 900px;
}
.half-width{
    width: 40%;
    margin-left: 4%;
    padding:2%;
    float: left;
}
.half-width img{
    width: 80%
}
h1{
    font-size: 40px;
}
p{
    margin-bottom: 40px;
}
.orange-color{
    color: tomato;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(rgb(255, 197, 71), rgb(201, 216, 176)) ;
   color: rgb(124, 117, 117);
   border-radius: 10px;
   font-weight: 700;
    padding:10px 20px;
    margin-top: 80px;
}
#about{
   background-color: rgb(214, 181, 214);
}
#work{
    padding:50px 5px 50px 0px;
    height: 600px;
    
}
#work img{
    width:400px ;
}
.work-header{
    text-align: center;
}
.flex-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: space-between;
}
 .container{
    background-color: rgb(158, 139, 158);
    border-radius: 20px;
    margin: 5px 5px;
    padding: 10px;
    width: 400px;
}
.client-feedback{
    height: 580px;
    text-align: center;
    background-color: rgb(214, 177, 214);
}

.client{
    display: flex;
    flex-wrap: wrap;
    float: left;
}
.client-say{
    background-color: rgb(200, 240, 240);
    border-radius: 20px;
    width: 400px;
    height: 380px;
    margin: 30px;
}
.client-say img{
    width: 150px;
}
.work-inq{
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("images/Background.png");
    background-size: cover;
    margin: 20px 210px;
    padding: 80px 80px;
    border-radius: 20px;
    width: 1000px;
    height: 100px;
}
.work-inq h1{
    text-align: center;
 
}
button {
    text-decoration: none;
    background-image:linear-gradient(rgb(255, 197, 71), rgb(201, 216, 176));
    color: rgb(59, 57, 57);
    border-radius: 29px;
    font-weight: 100;
    padding: 5px 46px;
    margin: 20px 20px 20px 300px;
    
}
footer{
    text-align: center;
    margin-top: 200px;
}
footer img{
   width: 60px;
}